
<link rel="stylesheet" href="../component/new-product/new-product.css" />
<link rel="stylesheet" href="../component/new-product-resume/new-product-resume.css" />

<div>
	<div class="title">
		Récapitulatif
	</div>

	<div id="describe">
    Le nouveau produit <span class="bold">Poulet</span> est de type <span class="bold">Viande</span> <img class="translate-y-resume" width="31px" src="assets/imgs/meat.svg" />
    <br/>
    <br/>
    <br/>
    C'est bien ça ?
  </div>
</div>

<div id="btn">
	<div id="btn-next">Confirmer</div>
	<div id="btn-back">Retour</div>
</div>

