
<link rel="stylesheet" href="./component/new-product/new-product.css" />
<link rel="stylesheet" href="./component/new-product-categ/new-product-categ.css" />

<div>
	<div class="title">
		Quel est le type de ce produit ?
	</div>

	<div id="choix">
        <div class="choix-n">
          <div class="checkbox"></div>
          <p class="checkbox-label">Viande</p>
          <img width="31px" src="assets/imgs/meat.svg" />
        </div>
        <div class="choix-n">
          <div class="checkbox"></div>
          <p class="checkbox-label">Légumes</p>
          <img width="31px" src="assets/imgs/vegetable.svg" />
        </div>
        <div class="choix-n">
          <div class="checkbox checked"></div>
          <p class="checkbox-label">Plat</p>
          <img width="25px" src="assets/imgs/food.svg" />
        </div>
        <div class="choix-n">
          <div class="checkbox"></div>
          <p class="checkbox-label">Poisson</p>
          <img width="25px" src="assets/imgs/fish.svg" />
        </div>
        <div class="choix-n">
          <div class="checkbox"></div>
          <p class="checkbox-label">Autre</p>
          <img width="31px" src="assets/imgs/autre.svg" />
        </div>
      </div>

</div>

<div id="btn">
	<div id="btn-next">Suivant</div>
	<div id="btn-back">Retour</div>
</div>

