
<link rel="stylesheet" href="./component/new-product/new-product.css" />
<link rel="stylesheet" href="./component/new-product-info/new-product-info.css" />

<div>
	<div class="title">
		Vous venez de saisir une nouvelle référence !
	</div>

	<div id="info">
		Veuillez renseignez les informations relatives à ce produit. ⚠️ Une fois saisie elle ne seront plus modifiable pour le moment. (une évolution est prévue prochainement).
	</div>
</div>

<div id="btn">
	<div id="btn-next">Commencer</div>
	<div id="btn-back">Annuler</div>
</div>

