
<link rel="stylesheet" href="../component/list-product/list-product.css" />

<div>
	<div id="tab-title"  class="tab-row">
		<div>Produit</div>
		<div>Qté</div>
	</div> 

	<div class="tab-row">
		<div><img width="31px" src="assets/imgs/autre.svg" /> Petit pois blessure</div>
		<div class="x-bold">1</div>
	</div> 

	<div class="tab-row tab-row-grey">
		<div><img width="31px" src="assets/imgs/meat.svg" /> Poulet</div>
		<div class="x-bold">1</div>
	</div> 



	<div class="tab-row">
		<div><img width="31px" src="assets/imgs/autre.svg" /> Petit pois blessure</div>
		<div class="x-bold">1</div>
	</div> 

	<div class="tab-row tab-row-grey">
		<div><img width="31px" src="assets/imgs/meat.svg" /> Poulet</div>
		<div class="x-bold">1</div>
	</div> 

	<div class="tab-row">
		<div><img width="31px" src="assets/imgs/autre.svg" /> Petit pois blessure</div>
		<div class="x-bold">1</div>
	</div> 

	<div class="tab-row tab-row-grey">
		<div><img width="31px" src="assets/imgs/meat.svg" /> Poulet</div>
		<div class="x-bold">1</div>
	</div> 

	<div class="tab-row">
		<div><img width="31px" src="assets/imgs/autre.svg" /> Petit pois blessure</div>
		<div class="x-bold">1</div>
	</div> 

	<div class="tab-row tab-row-grey">
		<div><img width="31px" src="assets/imgs/meat.svg" /> Poulet</div>
		<div class="x-bold">1</div>
	</div> 

	<div class="tab-row">
		<div><img width="31px" src="assets/imgs/autre.svg" /> Petit pois blessure</div>
		<div class="x-bold">1</div>
	</div> 

	<div class="tab-row tab-row-grey">
		<div><img width="31px" src="assets/imgs/meat.svg" /> Poulet</div>
		<div class="x-bold">1</div>
	</div> 
</div>

<div id="qr-codes">
	<img src="assets/imgs/minus-qr-code.svg" onclick="scanToRemove()"/>
	<img src="assets/imgs/add-qr-code.svg" onclick="scantoAdd()"/>
</div>

